{% extends 'base.html.twig' %}

{% block title %} Création d'une fiche produit {% endblock %}

{% form_theme form 'product/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle fiche produit</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}
    </div>

{% endblock %}


{% block javascripts %}

<script src='/js/product.js'></script>

{% endblock %}