{% extends 'base.html.twig' %}

{% block title %}
    Tout ce qu'il vous faut !
{% endblock %}

{% block header %}
    <h2>Voici le header</h2>
{% endblock %}



{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur The Store</h1>
        <p class="lead">Tous les produits dont vous avez besoin à portée de main. Cliquez, c'est emballé !</p>
        <hr class="my-4">
        <p>A vos marques ! Prêts...</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('products_index') }}" role="button">Achetez !</a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos promotions</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 produits ménagers achetés = <strong>1 produit offert</strong> <br>
                    <small>Plus d'informations</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image des produits" class="src" 
                style="height: 200px; width: 100%; display:block">

                <div class="card-body">
                    <h4 class="card-title">Super produit</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur commodi rem recusandae ipsa laboriosam quidem aut omnis, enim aspernatur quasi!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 produits ménagers achetés = <strong>1 produit offert</strong> <br>
                    <small>Plus d'informations</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image des produits" class="src" 
                style="height: 200px; width: 100%; display:block">

                <div class="card-body">
                    <h4 class="card-title">Super produit</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur commodi rem recusandae ipsa laboriosam quidem aut omnis, enim aspernatur quasi!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 produits ménagers achetés = <strong>1 produit offert</strong> <br>
                    <small>Plus d'informations</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image des produits" class="src" 
                style="height: 200px; width: 100%; display:block">

                <div class="card-body">
                    <h4 class="card-title">Super produit</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur commodi rem recusandae ipsa laboriosam quidem aut omnis, enim aspernatur quasi!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos magasins</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Paris</h4>
                    <hr>
                    
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Miniature de Paris" 
                        class="float-left-mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, suscipit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Paris</h4>
                    <hr>
                    
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Miniature de Paris" 
                        class="float-left-mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, suscipit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}